<!DOCTYPE html>
<html>
	<head>
		<title>qrCode Adesivo</title>
		<style>
			#container {
			  display: inline-block;
			  position: relative;
			  margin:  20px 0 0 40px;
			}

			#container figcaption {
			  position: absolute;
			  top: 260px;
			  right: 115px;
			  color: white;
			  font-size: 20pt;
			  letter-spacing: 1px;
			}
			#container #imagem {
			  position: absolute;
			  top: 52px;
			  right: 52px;
			  color: white;		  		 
			}		
		</style>
	</head>
	<body>
		<div>
			<figure id="container">
			  <img src="http://portal.filadelfia.br:7778/qrCodeLondrinense/bgAdesivo.png" style="width: 325px"/>    
			  <img id="imagem" src="http://localhost:3000/images/QRCode/<sqAluno1>.png" style="width: 220px"/>
			  <figcaption><sqAluno1></figcaption>
			</figure>
			<figure id="container">
			  <img src="http://portal.filadelfia.br:7778/qrCodeLondrinense/bgAdesivo.png" style="width: 325px"/>    
			  <img id="imagem" src="http://localhost:3000/images/QRCode/<sqAluno2>.png" style="width: 220px"/>
			  <figcaption><sqAluno2></figcaption>
			</figure>
			<figure id="container">
			  <img src="http://portal.filadelfia.br:7778/qrCodeLondrinense/bgAdesivo.png" style="width: 325px"/>    
			  <img id="imagem" src="http://localhost:3000/images/QRCode/<sqAluno3>.png" style="width: 220px"/>
			  <figcaption><sqAluno3></figcaption>
			</figure>
			<figure id="container">
			  <img src="http://portal.filadelfia.br:7778/qrCodeLondrinense/bgAdesivo.png" style="width: 325px"/>    
			  <img id="imagem" src="http://localhost:3000/images/QRCode/<sqAluno4>.png" style="width: 220px"/>
			  <figcaption><sqAluno4></figcaption>
			</figure>
		</div>
	</body>
</html>